* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f6f6f6;
    color: #333;
}

/* Header */
.header {
    background-color: #0f7c2a;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Hero Section */
.hero {
    padding: 40px;
    text-align: 40px;
    background-color: #ffffff;
}

.hero h2{
    color:#0f7c2a;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

/*Button*/
.btn {
    background-color: #0f7c2a;
    color: white;
    padding: 12px 25px;
    text-decoration:none;
    border-radius: 5px;
}

.info {
    padding: 30px;
    text-align: center;
}

/*Footer*/
.footer {
    background-color: #0f7c2a;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Store Section */
.store {
    padding: 30px;
    text-align: 30px;
    background-color: #ffffff;
    margin: 20px;
    border-radius:8px;
}

.store h3 {
    color:#0f7c2a;
    margin-bottom: 15px;
}

.store p {
    margin-bottom: 8px;
}

/*Product Section */
.product {
    padding: 30px;
    background: #ffffff;
    margin: 20px;
    border-radius: 8px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1x solid #ddd;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

.product h4 {
    margin-bottom: 5px;
}

.product p {
    margin-bottom: 10px;
}

.product button {
    background: #0f72ca;
    color: white;
    border: none;
    padding: 8pxv15px;
    cursor: pointer;
    border-radius: 4px;
}
